<div class="row">

  <!-- counter-card-1 start--> 
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Total Progress'" [headerContent]="'Progress Pengambilan Sentiment Dari Seluruh Tweets'"> 
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <google-chart [data]="donutChartData"></google-chart>
        </div> 
        <div class="col-md-12 col-lg-7">
          <br/><br/><br/> 
          <label class="badge badge-lg bg-danger"><i class="fa fa-circle-o"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Belum diproses {{_dataGetTotalProgress.data.percentage_unfinish}}% ({{numberWithCommas(_dataGetTotalProgress.data.count_unfinish)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-success"><i class="fa fa-circle-o"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sudah diproses {{_dataGetTotalProgress.data.percentage_finish}}% ({{numberWithCommas(_dataGetTotalProgress.data.count_finish)}} tweet) </h5>
        </div>
      </div>
    </app-card>
  </div>   
  <!-- counter-card-1 end-->


  <!-- counter-card-2 start --> 
  <div class="col-md-12 col-lg-12">
    <app-card [title]="'Perbandingan Total Progress'" [headerContent]="'Progress Pengambilan Sentiment Masing-Masing #hashtag atau keyword'">
      <div class="row"> 
        <div class="col-md-12 col-lg-1"></div>
        <div class="col-md-12 col-lg-11">
          <h3>#2019GantiPresiden</h3> 
          <google-chart [data]="barChartData1"></google-chart>
          <br><br><br>
        </div>

        
        <div class="col-md-12 col-lg-1"></div>
        <div class="col-md-12 col-lg-11">
          <h3>#2019TetapJokowi</h3> 
          <google-chart [data]="barChartData2"></google-chart>
          <br><br><br>
        </div>

        
        <div class="col-md-12 col-lg-1"></div>
        <div class="col-md-12 col-lg-11">
          <h3>Jokowi</h3> 
          <google-chart [data]="barChartData3"></google-chart>
          <br><br><br>
        </div>

        
        <div class="col-md-12 col-lg-1"></div>
        <div class="col-md-12 col-lg-11">
          <h3>Prabowo</h3> 
          <google-chart [data]="barChartData4"></google-chart>
          <br><br><br>
        </div>
      </div>
    </app-card>
  </div>
  <!-- counter-card-2 end -->
  
 


    
</div>
