<div class="row"> 


  <!-- Tabination card start -->
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>#2019GantiPresiden</h5> 
        <button class="btn btn-primary btn-sm f-right" (click)="collapsed1 = !collapsed1"> <i class="icofont icofont-eye-alt"></i> Show / Hide </button>   
      </div>
      <div class="table-responsive" [hidden]="collapsed1">  
        <ngx-datatable
              #myTable
              class="data-table expandable"
              [rows]='rows1'
              [limit]="10" 
              [columnMode]="force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              (page)="onPage($event)">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-link="row.link">
              <div class="dt-desc">
                <table class="table-bordered">  
                  <tr><td><b>Lokasi</b></td><td>{{row.location}}</td></tr>  
                  <tr><td><b>Text</b></td><td>{{row.text}}</td></tr> 
                  <tr><td><b>Link</b></td><td><a href="{{link}}" target="_blank">{{row.link}}</a></td></tr>
                </table>
              </div> 
            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:;"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Index" [width]="70" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong> {{rows1.indexOf(row)+1}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" [width]="180" >
            <ng-template let-row="row" ngx-datatable-cell-template let-screen_name="row['screen_name']">
              <a href="https://twitter.com/{{screen_name}}" target="_blank"> @{{row['screen_name']}}</a> 
            </ng-template> 
          </ngx-datatable-column> 
          <ngx-datatable-column name="Datetime" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row['created_at']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Point" [width]="200" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{row['scoring_point']}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sentiment" [width]="100"> 
            <ng-template let-row="row" ngx-datatable-cell-template style="text-align: center">
              <span class="label label-success" *ngIf="row['scoring_sentiment'] === 'positif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-danger" *ngIf="row['scoring_sentiment'] === 'negatif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-warning" *ngIf="row['scoring_sentiment'] === 'netral'">{{row['scoring_sentiment']}}</span>  
            </ng-template>
          </ngx-datatable-column>   
        </ngx-datatable>  
      </div>
    </div>
  </div>


  <!-- Tabination card start -->
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>#2019TetapJokowi</h5> 
        <button class="btn btn-primary btn-sm f-right" (click)="collapsed2 = !collapsed2"> <i class="icofont icofont-eye-alt"></i> Show / Hide </button>   
      </div>
      <div class="table-responsive" [hidden]="collapsed2">  
        <ngx-datatable
              #myTable
              class="data-table expandable"
              [rows]='rows2'
              [limit]="10" 
              [columnMode]="force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              (page)="onPage($event)">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-link="row.link">
              <div class="dt-desc">
                <table class="table-bordered">  
                  <tr><td><b>Lokasi</b></td><td>{{row.location}}</td></tr>  
                  <tr><td><b>Text</b></td><td>{{row.text}}</td></tr> 
                  <tr><td><b>Link</b></td><td><a href="{{link}}" target="_blank">{{row.link}}</a></td></tr>
                </table>
              </div> 
            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:;"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Index" [width]="70" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong> {{rows2.indexOf(row)+1}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" [width]="180" >
            <ng-template let-row="row" ngx-datatable-cell-template let-screen_name="row['screen_name']">
              <a href="https://twitter.com/{{screen_name}}" target="_blank"> @{{row['screen_name']}}</a> 
            </ng-template> 
          </ngx-datatable-column> 
          <ngx-datatable-column name="Datetime" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row['created_at']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Point" [width]="200" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{row['scoring_point']}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sentiment" [width]="100"> 
            <ng-template let-row="row" ngx-datatable-cell-template style="text-align: center">
              <span class="label label-success" *ngIf="row['scoring_sentiment'] === 'positif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-danger" *ngIf="row['scoring_sentiment'] === 'negatif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-warning" *ngIf="row['scoring_sentiment'] === 'netral'">{{row['scoring_sentiment']}}</span>  
            </ng-template>
          </ngx-datatable-column>   
        </ngx-datatable>  
      </div>
    </div>
  </div>

  <!-- Tabination card start -->
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Jokowi</h5> 
        <button class="btn btn-primary btn-sm f-right" (click)="collapsed3 = !collapsed3"> <i class="icofont icofont-eye-alt"></i> Show / Hide </button>   
      </div>
      <div class="table-responsive" [hidden]="collapsed3">  
        <ngx-datatable
              #myTable
              class="data-table expandable"
              [rows]='rows3'
              [limit]="10" 
              [columnMode]="force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              (page)="onPage($event)">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-link="row.link">
              <div class="dt-desc">
                <table class="table-bordered">  
                  <tr><td><b>Lokasi</b></td><td>{{row.location}}</td></tr>  
                  <tr><td><b>Text</b></td><td>{{row.text}}</td></tr> 
                  <tr><td><b>Link</b></td><td><a href="{{link}}" target="_blank">{{row.link}}</a></td></tr>
                </table>
              </div> 
            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:;"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Index" [width]="70" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong> {{rows3.indexOf(row)+1}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" [width]="180" >
            <ng-template let-row="row" ngx-datatable-cell-template let-screen_name="row['screen_name']">
              <a href="https://twitter.com/{{screen_name}}" target="_blank"> @{{row['screen_name']}}</a> 
            </ng-template> 
          </ngx-datatable-column> 
          <ngx-datatable-column name="Datetime" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row['created_at']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Point" [width]="200" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{row['scoring_point']}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sentiment" [width]="100"> 
            <ng-template let-row="row" ngx-datatable-cell-template style="text-align: center">
              <span class="label label-success" *ngIf="row['scoring_sentiment'] === 'positif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-danger" *ngIf="row['scoring_sentiment'] === 'negatif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-warning" *ngIf="row['scoring_sentiment'] === 'netral'">{{row['scoring_sentiment']}}</span>  
            </ng-template>
          </ngx-datatable-column>   
        </ngx-datatable>  
      </div>
    </div>
  </div>

  <!-- Tabination card start -->
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Prabowo</h5> 
        <button class="btn btn-primary btn-sm f-right" (click)="collapsed4 = !collapsed4"> <i class="icofont icofont-eye-alt"></i> Show / Hide </button>   
      </div>
      <div class="table-responsive" [hidden]="collapsed4">  
        <ngx-datatable
              #myTable
              class="data-table expandable"
              [rows]='rows4'
              [limit]="10" 
              [columnMode]="force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              (page)="onPage($event)">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-link="row.link">
              <div class="dt-desc">
                <table class="table-bordered">  
                  <tr><td><b>Lokasi</b></td><td>{{row.location}}</td></tr>  
                  <tr><td><b>Text</b></td><td>{{row.text}}</td></tr> 
                  <tr><td><b>Link</b></td><td><a href="{{link}}" target="_blank">{{row.link}}</a></td></tr>
                </table>
              </div> 
            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:;"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Index" [width]="70" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong> {{rows4.indexOf(row)+1}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" [width]="180" >
            <ng-template let-row="row" ngx-datatable-cell-template let-screen_name="row['screen_name']">
              <a href="https://twitter.com/{{screen_name}}" target="_blank"> @{{row['screen_name']}}</a> 
            </ng-template> 
          </ngx-datatable-column> 
          <ngx-datatable-column name="Datetime" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row['created_at']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Point" [width]="200" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{row['scoring_point']}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sentiment" [width]="100"> 
            <ng-template let-row="row" ngx-datatable-cell-template style="text-align: center">
              <span class="label label-success" *ngIf="row['scoring_sentiment'] === 'positif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-danger" *ngIf="row['scoring_sentiment'] === 'negatif'">{{row['scoring_sentiment']}}</span>
              <span class="label label-warning" *ngIf="row['scoring_sentiment'] === 'netral'">{{row['scoring_sentiment']}}</span>  
            </ng-template>
          </ngx-datatable-column>   
        </ngx-datatable>  
      </div>
    </div>
  </div>
