<div class="row">

  <!-- counter-card-1 start--> 
  <div class="col-md-12 col-xl-4">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <h1 *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.total_tweet)}}</h1>
        <span class="m-t-10">Total Tweets</span>
        <i class="icofont icofont-social-twitter"></i>
      </div>
    </div>
  </div>  
  <div class="col-md-12 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-linkein">
        <h1 *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.tweet_per_day)}}</h1>
        <span class="m-t-10">Rata-rata tweets per hari</span>
        <i class="icofont icofont-social-twitter"></i>
      </div>
    </div>
  </div> 
  <div class="col-md-12 col-xl-5">
    <div class="card table-card widget-success-card" style="margin-bottom: 15px;">
      <div class="row-table">
        <div class="col-sm-3 card-block-medium">
          <i class="icofont icofont-clock-time"></i>
          <i class="icofont icofont-simple-up"></i>
        </div> 
        <div class="col-sm-9"> 
          <h6 class="ng-tns-c3-1" *ngIf="_dataLoaded">{{formattedDate(_dataGetTotalTweet.data.first_tweet)}}</h6>
        </div>
      </div>
    </div>
    <div class="card table-card widget-success-card">
      <div class="row-table">
        <div class="col-sm-3 card-block-medium">
          <i class="icofont icofont-clock-time"></i>
          <i class="icofont icofont-simple-down"></i>
        </div>
        <div class="col-sm-9"> 
          <h6 class="ng-tns-c3-1" *ngIf="_dataLoaded">{{formattedDate(_dataGetTotalTweet.data.last_tweet)}}</h6>
        </div>
      </div>
    </div> 
  </div> 
  <!-- counter-card-1 end-->


  <!-- counter-card-2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card client-blocks dark-hashtag1-border">
      <div class="card-block">
        <h5><b>#2019GantiPresiden</b></h5>
        <ul>
          <li>
            <i class="icofont icofont-document-folder" style="font-size: 60px;"></i>
          </li>
          <li class="text-right">
            <h2  *ngIf="_dataLoaded"><b>{{_dataGetTotalTweet.data.topics[0].percentage}}%</b></h2>
            <h3  *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.topics[0].count_all)}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card client-blocks dark-hashtag2-border">
      <div class="card-block">
        <h5><b>#2019TetapJokowi</b></h5>
        <ul>
          <li>
            <i class="icofont icofont-document-folder" style="font-size: 60px;"></i>
          </li>
          <li class="text-right">
            <h2  *ngIf="_dataLoaded"><b>{{_dataGetTotalTweet.data.topics[1].percentage}}%</b></h2>
            <h3  *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.topics[1].count_all)}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card client-blocks dark-keyword1-border">
      <div class="card-block">
        <h5><b>Jokowi</b></h5>
        <ul>
          <li>
            <i class="icofont icofont-document-folder" style="font-size: 60px;"></i>
          </li>
          <li class="text-right">
            <h2  *ngIf="_dataLoaded"><b>{{_dataGetTotalTweet.data.topics[2].percentage}}%</b></h2>
            <h3  *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.topics[2].count_all)}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card client-blocks dark-keyword2-border">
      <div class="card-block">
        <h5><b>Prabowo</b></h5>
        <ul>
          <li>
            <i class="icofont icofont-document-folder" style="font-size: 60px;"></i>
          </li>
          <li class="text-right">
            <h2  *ngIf="_dataLoaded"><b>{{_dataGetTotalTweet.data.topics[3].percentage}}%</b></h2>
            <h3  *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalTweet.data.topics[3].count_all)}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- counter-card-2 end -->
  


  <!-- DISCRETE BAR CHART start -->
  <div class="col-md-12 col-lg-12">
    <app-card [title]="'Total Tweets'" [headerContent]="'Perbandingan Jumlah Tweet Masing Masing #hashtag atau keyword'">
      <nvd3 [options]="discreteBarOptions" [data]="discreteBarData"></nvd3>
    </app-card>
  </div>
  <!-- DISCRETE BAR CHART Ends -->



    
</div>
