<div class="row" style="justify-content: center;">

  <!-- counter-card-1 start-->   
  <div class="col-md-12 col-xl-4">
    <div class="card social-widget-card">
      <div class="card-block-big bg-success">
        <i class="icofont icofont-emo-simple-smile"  style="left: 40px;font-size: 72px;top: 40px;"></i>
        <h1 style="text-align:right" *ngIf="_dataLoaded">{{_dataGetTotalSentiment.data.percentage_positif}}%</h1>
        <h6 style="text-align:right" *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalSentiment.data.sentiment_positif)}} tweet</h6>
        <h6 style="text-align:right" class="m-t-10">Sentimen Positif</h6>
      </div> 
    </div> 
  </div>   
  <div class="col-md-12 col-xl-4">
    <div class="card social-widget-card">
      <div class="card-block-big bg-warning">
        <i class="icofont icofont-emo-expressionless"  style="left: 40px;font-size: 72px;top: 40px;"></i>
        <h1 style="text-align:right" *ngIf="_dataLoaded">{{_dataGetTotalSentiment.data.percentage_netral}}%</h1>
        <h6 style="text-align:right" *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalSentiment.data.sentiment_netral)}} tweet</h6>
        <h6 style="text-align:right" class="m-t-10">Sentimen Netral</h6> 
      </div>
    </div>
  </div>  
  <div class="col-md-12 col-xl-4">
    <div class="card social-widget-card">
      <div class="card-block-big bg-danger">
        <i class="icofont icofont-emo-worried"  style="left: 40px;font-size: 72px;top: 40px;"></i>
        <h1 style="text-align:right" *ngIf="_dataLoaded">{{_dataGetTotalSentiment.data.percentage_negatif}}%</h1>
        <h6 style="text-align:right" *ngIf="_dataLoaded">{{numberWithCommas(_dataGetTotalSentiment.data.sentiment_negatif)}} tweet</h6>
        <h6 style="text-align:right" class="m-t-10">Sentimen Negatif</h6> 
      </div>
    </div>  
  </div>  
  <!-- counter-card-1 end-->
 </div>

 <div class="row">

  <!-- DISCRETE BAR CHART start -->
  <div class="col-md-12 col-lg-12">
    <app-card [title]="'Sentiment'" [headerContent]="'Perbandingan Sentiment Masing Masing #hashtag atau keyword'"> 
      <div class="row"> 
        
        <div class="col-md-12 col-lg-1" style="text-align:center"></div>
        <div class="col-md-12 col-lg-5" style="text-align:center">
          <h3>#2019GantiPresiden</h3> 
          <google-chart [data]="donutChartData1"></google-chart>
        </div>  
        <div class="col-md-12 col-lg-6">
          <br/><br/><br/><br/><br/><br/>
          <label class="badge badge-lg bg-success"><i class="icofont icofont-emo-simple-smile"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Positif {{_dataGetTotalSentiment.data.topics[0].percentage_positif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[0].sentiment_positif)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-warning"><i class="icofont icofont-emo-expressionless"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Netral {{_dataGetTotalSentiment.data.topics[0].percentage_netral}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[0].sentiment_netral)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-danger"><i class="icofont icofont-emo-worried"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Negatif {{_dataGetTotalSentiment.data.topics[0].percentage_negatif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[0].sentiment_negatif)}} tweet) </h5>
        </div> 
        <div class="col-md-12 col-lg-12">
          <hr/>
          <br/>
          <br/>
        </div>
        

        <div class="col-md-12 col-lg-1" style="text-align:center"></div>
        <div class="col-md-12 col-lg-5" style="text-align:center"> 
          <h3>#2019TetapJokowi</h3> 
          <google-chart [data]="donutChartData2"></google-chart>
        </div>   
        <div class="col-md-12 col-lg-6">
          <br/><br/><br/><br/><br/><br/>
          <label class="badge badge-lg bg-success"><i class="icofont icofont-emo-simple-smile"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Positif {{_dataGetTotalSentiment.data.topics[1].percentage_positif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[1].sentiment_positif)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-warning"><i class="icofont icofont-emo-expressionless"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Netral {{_dataGetTotalSentiment.data.topics[1].percentage_netral}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[1].sentiment_netral)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-danger"><i class="icofont icofont-emo-worried"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Negatif {{_dataGetTotalSentiment.data.topics[1].percentage_negatif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[1].sentiment_negatif)}} tweet) </h5>
        </div> 
        <div class="col-md-12 col-lg-12">
          <hr/>
          <br/>
          <br/>
        </div>


        <div class="col-md-12 col-lg-1" style="text-align:center"></div>
        <div class="col-md-12 col-lg-5" style="text-align:center"> 
          <h3>Jokowi</h3> 
          <google-chart [data]="donutChartData3"></google-chart>
        </div>   
        <div class="col-md-12 col-lg-6">
          <br/><br/><br/><br/><br/><br/>
          <label class="badge badge-lg bg-success"><i class="icofont icofont-emo-simple-smile"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Positif {{_dataGetTotalSentiment.data.topics[2].percentage_positif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[2].sentiment_positif)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-warning"><i class="icofont icofont-emo-expressionless"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Netral {{_dataGetTotalSentiment.data.topics[2].percentage_netral}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[2].sentiment_netral)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-danger"><i class="icofont icofont-emo-worried"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Negatif {{_dataGetTotalSentiment.data.topics[2].percentage_negatif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[2].sentiment_negatif)}} tweet) </h5>
        </div> 
        <div class="col-md-12 col-lg-12">
          <hr/>
          <br/>
          <br/>
        </div>


        <div class="col-md-12 col-lg-1" style="text-align:center"></div>
        <div class="col-md-12 col-lg-5" style="text-align:center"> 
          <h3>Prabowo</h3> 
          <google-chart [data]="donutChartData4"></google-chart>
        </div>   
        <div class="col-md-12 col-lg-6">
          <br/><br/><br/><br/><br/><br/>
          <label class="badge badge-lg bg-success"><i class="icofont icofont-emo-simple-smile"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Positif {{_dataGetTotalSentiment.data.topics[3].percentage_positif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[3].sentiment_positif)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-warning"><i class="icofont icofont-emo-expressionless"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Netral {{_dataGetTotalSentiment.data.topics[3].percentage_netral}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[3].sentiment_netral)}} tweet) </h5>
          <br>
          <label class="badge badge-lg bg-danger"><i class="icofont icofont-emo-worried"></i></label>  
          <h5 *ngIf="_dataLoaded">&nbsp;&nbsp;Sentimen Negatif {{_dataGetTotalSentiment.data.topics[3].percentage_negatif}} % ({{numberWithCommas(_dataGetTotalSentiment.data.topics[3].sentiment_negatif)}} tweet) </h5>
        </div> 
        <div class="col-md-12 col-lg-12">
          <hr/>
          <br/>
          <br/>
        </div>


      </div>
    </app-card>
  </div>
  <!-- DISCRETE BAR CHART Ends -->



    
</div>
